<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="LSantosProgramacionNCapas"
			 connectionString="Data Source=.;Initial Catalog=LSantosProgramacionNCapas;Persist Security Info=True;User ID=sa;Password=pass@word1"
			 providerName="System.Data.SqlClient" />
		<add name="LSantosProgramacionNCapasEntities" connectionString="metadata=res://*/LSantosProgramacionNCapas.csdl|res://*/LSantosProgramacionNCapas.ssdl|res://*/LSantosProgramacionNCapas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LSantosProgramacionNCapas;persist security info=True;user id=sa;password=pass@word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	
</configuration>